<div class="container">
  <br>
	<div class="row align-items-center border border-success rounded mt-3">    
		<div class="col-12">
			<h2 style="text-align: center;">Login Incorrecto</h2>
		</div>
		<span class="mt-2"></span>
	</div>
</div>

<script>
window.onload = function(){
    setTimeout(()=>{
        window.location.href = "login";
    },2000);
}
</script>