<div class="container">
  <br>

  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
      <h2 style="text-align: center;">Vista de Productos</h2>
      <div id="vista-productos"></div>
    </div>
    <span class="mt-2"></span>
  </div>

</div>
