<div class="container">
  <br>

  <div class="row align-items-center border border-success bg-success rounded">
    <div class="col-12">
      <div class="mt-3"></div>
      <h3 style="text-align: center; color:white"><strong>Catalogo de Productos</strong></h5>
      <div class="mb-3"></div>
    </div>
  </div>
  <br>

  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
      <br>
      <h5>Productos disponibles para su compra</h5>
      <div class="overlay" id="spinner">
        <div class="d-flex justify-content-center">  
          <div class="spinner-grow text-success" role="status" style="width: 10rem; height: 10rem; z-index: 20;">
          </div>
        </div>
      </div>

      <div id="vista-productos"></div>
    </div>
    <span class="mt-2"></span>
  </div>

  <br>
</div>
